main.single-product div.type-product{
    border: solid green 2px;
}
main.single-product div.type-product img.wp-post-image{
    width: 280px;
    height: auto;
}
div#other-retailers-section{
    border: solid red 2px;
}

div.product div.summary div.woocommerce-product-rating{
    display: none;
}
[data-theme="sepia"] form#commentform div.comment-form-rating{
    background: #e5d2d8;
    padding: 10px;
    position: relative;
    transform: rotate(-1deg);
    box-shadow: 
    0.5px -1px 2px rgba(79, 79, 79, 0.7),
    -0.5px 1.5px 2px rgba(79, 79, 79, 0.9);
}
[data-theme="sepia"] form#commentform div.comment-form-rating:before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #199b8c;
    border-top: solid rgba(79, 79, 79, 0.7) 1.5px;
    border-left: solid rgba(79, 79, 79, 0.7) 1px;
    border-right: solid rgba(79, 79, 79, 0.7) 1px;
    border-bottom: solid rgba(79, 79, 79, 0.7) 2.5px;
    box-shadow: 0px 2px 2px rgba(79, 79, 79, 1);
    position: absolute;
    top: 5px;
    left: 45%;
}
[data-theme="light"] div.rating-star-box img.dark, [data-theme="light"] div.rating-star-box img.sepia{
    display: none;
}
[data-theme="sepia"] div.rating-star-box img.dark, [data-theme="sepia"] div.rating-star-box img.light{
    display: none;
}
[data-theme="dark"] div.rating-star-box img.sepia, [data-theme="dark"] div.rating-star-box img.light{
    display: none;
}
div#rating-star-container{
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.rating-star-box{
    width: fit-content;
}
select#rating{
    display: block !important;
}
div.product p.stock{
    display: none !important;
}
p.jozie-product-single-review-stars-5, p.jozie-product-single-review-stars-4, p.jozie-product-single-review-stars-3, p.jozie-product-single-review-stars-2, p.jozie-product-single-review-stars-1{
    margin: 0px 0px -20px 0px;
}
[data-theme="light"] p.jozie-product-single-review-stars-5::before{
    content: '';
    display: inline-block;    
    background: url('../img/stars_5_of_5_light.png');
}

[data-theme="light"] p.jozie-product-single-review-stars-4::before{
    content: '';
    display: inline-block;    
    background: url('../img/stars_4_of_5_light.png');
    width: 170px;
    height: 40px;
    margin: 0px 20px -15px 0px
}
[data-theme="light"] div.jozie-product-single-review{
    border-bottom: solid rgb(22, 22, 22) 5px;
    border-radius: 0px 0px 3px 15px;
    padding-left: 15px;
}
[data-theme="sepia"] div.jozie-product-single-review{
    background: #f8f7f0;
    padding: 10px;
    width: fit-content;
    position: relative;
    box-shadow: 
    0.5px -1px 2px rgba(79, 79, 79, 0.7),
    -0.5px 1.5px 2px rgba(79, 79, 79, 0.9);
    z-index: 500;
    margin-top: 5px;
    margin-left: 5px;
}
[data-theme="sepia"] div.jozie-product-single-review::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #81199b;
    border-top: solid rgba(79, 79, 79, 0.7) 1.5px;
    border-left: solid rgba(79, 79, 79, 0.7) 1px;
    border-right: solid rgba(79, 79, 79, 0.7) 1px;
    border-bottom: solid rgba(79, 79, 79, 0.7) 2.5px;
    box-shadow: 0px 2px 2px rgba(79, 79, 79, 1);
    position: absolute;
    top: 2px;
    left: 53%;
}
[data-theme="dark"] div.jozie-product-single-review{
    border-bottom: solid rgb(221, 221, 221) 5px;
    border-radius: 0px 0px 3px 15px;
    padding-left: 15px;
}
div.jozie-product-single-review p.review-by{
    text-align: right;
    font-family: 'playball', serif;
    font-size: 26px;
}